.ably {
  display: flex;
}
.recommend {
  width: 485px;
  margin-right: 50px;
  font-size: 50px;
  text-align: left;
  border: 2px solid red;
}
.image {
  height: 600px;
  border-radius: 20px;
  object-fit: cover;
  border: none;
  border: 2px solid yellow;
}
