.rate {
  width: 100%;
  height: 100%;
}
.rate > .rate__contents {
  width: 100%;
  height: 100%;

  max-width: 1000px;
  margin: 50px auto;
  padding: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.rate > .rate__contents > .contents-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rate > .rate__contents > .contents-text > .text-title {
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;

  margin-top: 75px;
}
.rate > .rate__contents > .contents-text > .text-sub {
  font-size: 20px;
  color: rgb(78, 78, 78);

  margin-top: 20px;
}
.rate > .rate__contents > .contents-image > img {
  width: 400px;
  height: 560px;

  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .rate {
    width: 100%;
    height: 100%;
  }
  .rate > .rate__contents {
    flex-direction: column;
    justify-content: start;
    align-items: start;

    padding-top: 0px;
    padding-left: 10px;
    margin: 0px;

    position: relative;
    height: 80vh;
    overflow: hidden;
  }

  .rate > .rate__contents > .contents-text > .text-title {
    font-size: 30px;
    line-height: 45px;

    margin-top: 30px;
  }
  .rate > .rate__contents > .contents-text > .text-sub {
    margin-top: 10px;
    font-size: 12px;
  }
  .rate > .rate__contents > .contents-image > img {
    margin-top: 50px;

    object-fit: contain;
    position: absolute;

    left: -20px;
    top: 150px;
  }
}
