.choice {
  padding: 6px 14px 6px 14px;
  border-radius: 4px;
  background-color: rgba(221, 224, 227, 0.4);
  border: none;
  color: #666666;
}
.selected {
  color: white;
  background-color: #00a5b9;
  font-weight: 700px;
}
.menu {
  display: flex;
}
.burger {
  width: 200px;
  margin-right: 50px;
}
.photo {
  width: 100%;
  border: 1px solid #eff1f3;
  border-radius: 4px;
  background-color: white;
  padding: 15px;
}
.photo > img {
  width: 100%;
  /* cover: 일부 짤리더라도 비율맞춤*/
  /* contain: 모두 사진 넣고, 비율버림*/
  object-fit: contain;
}
