header {
  /* fixed : 브라우저 기준로 계속 고정*/
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #eeeeee71;
}

nav {
  background-color: rgba(229, 231, 235, var(--tw-border-opacity));
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;

  padding: 20px 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.links > button {
  border: none;
  border-radius: 30px;
  padding: 11px 16px;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
}
.links > button:hover {
  background-color: #eee;
}
.ably {
  color: #ff5160;
}
