.first {
  background-image: url(new_main.png);

  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;

  position: relative;
}
.first > .whitegradiention {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(
    180deg,
    white 0%,
    white 59px,
    rgba(255, 255, 255, 0) 100%
  );

  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.first > .contents {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 200px;

  display: flex;
  justify-content: center;

  font-size: 66px;
  text-align: center;
  line-height: 70px;
  font-weight: 500;

  z-index: 1;
}
