@font-face {
  font-family: "GangwonEducationSaeum";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}
h1 {
  font-family: "GangwonEducationSaeum";
}
